@charset "utf-8";
@import url('/css/web/bootstrap.css');
@import url('/css/web/font-awesome.min.css');
@import url('/css/web/line-awesome.css');
@import url('https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto:400,700');
@import url('/css/web/nanumsquareround.css');
@import url('/css/web/noto.css');

/* COMMON */
html {-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;}
body {font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif; color: #222; font-weight: normal; letter-spacing: -0.5px; word-spacing: -0.2px; word-break: keep-all}
ul,ol,dl {list-style: none; margin: 0; padding: 0;}
img {max-width: 100%; height: auto;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
ul,ol,dl {list-style:none;margin-bottom:0;}
label {font-weight:normal;}
p {margin:0;}
address {margin:0;}

/* LINK */
a,a:hover,a:focus,a:visited {color:inherit;text-decoration:none;outline:0;}

/* FORMS */
.form-control {outline: 0 !important;-webkit-box-shadow: none !important;box-shadow: none !important; border-radius: 0;}
.form-control::-moz-placeholder {color: #888;}
.form-control:-ms-input-placeholder {color: #888;}
.form-control::-webkit-input-placeholder {color: #888;}
select.form-control {background:#fff url(/images/arr_select1.png) no-repeat 100% 50%;padding-top: 0;padding-bottom: 0;padding-right:20px;background-size: 20px; -webkit-appearance:none;-moz-appearance:none;appearance:none;line-height: normal; position: relative;}
select::-ms-expand {display:none;}
input.calendar {background:#fff url(/images/ico_cal.png) no-repeat 100% 50%;}
@media (min-width: 992px) {
    select.form-control {padding-right: 30px;background-size: 30px;}
}
.radio, .checkbox {margin: 0;}
/*
.radio label, .checkbox label, .radio-inline, .checkbox-inline {padding-left: 25px;}
.radio-inline label, .checkbox-inline label {padding-left: 0;}
.checkbox {}
.checkbox label:before {content: ""; display: inline-block; position: absolute; width: 18px; height: 18px; left: 0;top: 1px; border: 1px solid #ccc; background-color: #fff;}
.checkbox label:after {display: inline-block; position: absolute; width: 18px; height: 18px; text-align: center; left: 0; top: 1px; line-height: 20px; color: #555;font-family: 'LineAwesome'; font-weight: bold}
.checkbox input[type="checkbox"] {opacity: 0;}
.checkbox input[type="checkbox"]:checked + label:after {content: "\f17b";}
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.checkbox input[type="checkbox"]:disabled + label:before {background-color: #eeeeee; cursor: not-allowed;}
.checkbox.checkbox-circle label:before {border-radius: 50%;width: 1.3em; height: 1.4em;}
.checkbox.checkbox-toggle label {padding-left: 3.5em;}
.checkbox.checkbox-toggle label:before {content: "";width: 3em;height: 1.5em; border-radius: 20px;border: 1px solid #ddd; background: none; z-index: 1}
.checkbox.checkbox-toggle label:after {content: "";width: 1.5em;height: 1.5em; left: 0; top: 0;border: 2px solid #fff; border-radius: 50%; background: #bbb; -webkit-transition: left 0.3s; transition: left 0.3s;}
.checkbox.checkbox-toggle input[type="checkbox"]:checked + label:before {}
.checkbox.checkbox-toggle input[type="checkbox"]:checked + label:after {content: ""; left: 1.5em; background: #555; -webkit-transition: left 0.3s; transition: left 0.3s;}
.checkbox.checkbox-xs label {font-size: 0.9em}
.checkbox.checkbox-lg label {font-size: 1.23999em}
.radio {color: #666}
.radio label:before {content: ""; display: inline-block; position: absolute; width: 18px; height: 18px; left: 0; top: 1px; border: 1px solid #ccc; border-radius: 50%; background-color: #fff;}
.radio label:after {display: inline-block; position: absolute; width: 18px; height: 18px; text-align: center; left: 0; top: 1px; line-height: 20px; color: #555;font-family: 'LineAwesome'; font-weight: bold}
.radio input[type="radio"] {opacity: 0;}
.radio input[type="radio"]:checked + label:after {content: "\f17b";}
.radio input[type="radio"]:disabled + label {opacity: 0.65;}
.radio input[type="radio"]:disabled + label:before {cursor: not-allowed;}
.radio.radio-xs label {font-size: 0.9em}
.radio.radio-lg label {font-size: 1.2em}

.radio.inline+.radio.inline, .radio.inline+.checkbox.inline, .checkbox.inline+.checkbox.inline {margin-left: 10px;}
*/
.file-upload {position:relative;}
.file-upload input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.file-upload label {display:inline-block;margin-right: 10px;}
.file-upload .upload-name {display:inline-block;max-width: 55%;}

.form-group {overflow: hidden;margin-left: -2px;margin-right: -2px;margin-bottom: 0;}
.form-group+.form-group {margin-top: 5px;}
.form-group .bar {float: left;line-height: 32px;vertical-align: middle;padding: 0 2px;}
.form-group>div {padding: 0 2px;}
.form-group>.btn {margin: 0 2px;}
.form-group .bar {width: 5%; text-align:center;}
.form-group select {width:100%;}
.form-group:last-child {margin-bottom: 0;}
.form-group .help-block {margin: 0;}
@media (min-width: 992px) {
    select.form-control {padding-right: 30px;background-size: 30px;}
    .form-group .help-block {line-height: 30px;}
    .form-group .bar {width: 2%;}
}

/* BUTTON */
.btn {outline: 0 !important; border-radius: 0;}
.btn:focus, .btn:active, .btn:hover {-webkit-box-shadow: none;box-shadow: none;}
.btn.icon {padding: 0;background: none;}
.btn.icon img {margin:0;}
.btn-link, .btn-link:hover, .btn-link:active,.btn-link:focus {color:inherit;text-decoration: none;}
.btn.line.white {background:none !important;border-color:#fff;color:#fff}
.btn.line.red {border-color:#e60b00;color:#e60b00}
.btn.line.green {border-color:#2ab6ae;color:#2ab6ae}
.btn.line.blue {color:#00abcd;}
.btn.line.gray {border-color:#ccc;color:#333}
.btn.line.lightgray {border-color:#ddd;color:#666}
.btn.line.brown {border-color:#6f5e5e;color:#6f5e5e}
.btn.line {background: #fff !important;border-color: #373737;color: #373737;}
.btn.red {background:#e60b00;border-color:#e60b00;color:#fff;}
.btn.green {background:#2ab6ae;border-color:#dedede;color:#fff}
.btn.blue {background:#0059c4;border-color:#0059c4;color:#fff}
.btn.lightblue {background: #333;border-color:#333;color:#fff;}
.btn.lightgray {background:#f4f4f4;border-color:#ddd;color:#666}
.btn.dark {background:#373737;border-color:#373737;color:#fff;}
.btn.gray {background:#666;border-color:#555;color:#fff;}
.btn.brown {background:#6f5e5e;border-color:#6f5e5e;color:#fff}
.btn.orange {background:#f75212;border-color:#f75212;color:#fff}
.btn.black {background:#222;border-color:#222;color:#fff}
.btn-box {margin:3% 0;text-align:center}
.btn-box.line {border-top:1px solid #ddd;padding-top: 5%;}
.btn-box[class*=col] {overflow:hidden;margin-left: -1%;margin-right: -1%;}
.btn-box[class*=col] .btn {float: left;}
.btn-box.col-2 .btn {width:48%;margin:0 1%;}
.btn-box.col-3 .btn {width:31.3333%;margin:0 1%;}
.btn-group>.btn-group+.btn-group .btn {border-left: 0;}

@media (max-width:991px) {
    .btn-box {margin: 5% auto;}
}

/* TABLE */
.table {border-top: 2px solid #666;border-bottom: 1px solid #ddd; margin: 0;}
.table>thead>tr>th {border-bottom-width: 1px;}
[class*=board] .table tbody td+td {border-left: 1px solid #ddd;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {vertical-align: middle;padding: 12px 15px;border-top: 0;border-bottom: 1px solid #ddd;}
.table > thead > tr > th {border-top: 1px solid #888}
.table.center th, table.center td {text-align: center;}
.table.table-form th {border-top: 1px solid #ddd;line-height: 30px;vertical-align: top;}
.table.table-form td {padding-top: 12px;border-top: 1px solid #ddd;}
.table.center .title {text-align: left;}
.table.top th, table.top td {vertical-align: top;}
.table-responsive {position: relative;}

@media (max-width:991px) {
    .table colgroup {display: none;}
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {padding: 8px;}
    .table.table-form th {display: block;}
    .table.table-form td {display: block;border-top: 0;padding-top: 0;}
    .table-responsive .table {min-width: 600px;}
    .table-responsive:after {display: none;}
    .table-responsive:after {content: "\f125  좌우로 슬라이드하세요.";font-family: Lineawesome; display: block;width: 100%;padding: 5px;}
}

/* TAB */
.tab-nav {position:relative;overflow: hidden; font-size: 0; margin-bottom: 30px;}
.tab-nav:after {content: "";display: block;position: absolute;left: 0;right: 0;bottom: 0;border-bottom: 1px solid #888;}
.tab-nav ul {padding-top: 1px; padding-left: 1px;}
.tab-nav li {float: left;min-width: 12%;font-size: 13px;}
.tab-nav li a {display: block;padding: 10px 0;border: 1px solid #e1e1e1;background-image: none; background-color: #fcfcfc; color:#666;text-align: center;margin-top: -1px;margin-left: -1px; -webkit-transition: none;transition: none;}
.tab-nav li.active a {background:#fff;border-color: #888;border-bottom-color: #fff; color: #222;position: relative; z-index: 1;}

.tab-nav.col-2 li {width: 50%;}
.tab-nav.col-3 li {width: 33.3333%;}
.tab-nav.col-4 li {width: 25%;}
.tab-nav.col-5 li {width: 20%;}
.tab-nav.col-6 li {width: 16.6666%;}
.tab-nav.col-7 li {width: 14.2857%;}
.tab-nav.col-8 li {width: 12.5%;}
.tab-nav.col-10 li {width: 10%;}
.tab-nav.col-18 li {width: 5.5555%;}

@media (max-width:991px) {
    .tab-nav {margin-bottom: 15px;}
    .tab-nav:after {display: none;}
    .tab-nav li a {font-size: 12px; border: 1px solid #d8dad8 !important; padding: 0;height: 30px;line-height: 28px;}
    .tab-nav li.active a {border: 1px solid #333 !important;}
    .tab-nav.col-4 li {width: 50%;}
    .tab-nav.col-5 li {width: 50%;}
    .tab-nav.col-6 li {width: 50%;}
    .tab-nav.col-7 li {width: 50%;}
    .tab-nav.col-8 li {width: 50%;}
}
.tab-contents {}
.tab-contents .tab-item {display:none;}

/* LIST */
ul.bullet li {padding-left:13px;background:url(/images/bul_bluex2.gif) no-repeat 0 8px;line-height: 1.6}
ul.bullet.type2 li {background:url(/images/bul_brown4.png) no-repeat 0 8px;}
ul.bullet.type3 li {background:url(/images/bul_blue2x4.png) no-repeat 0 8px;}
ul.bullet li+li {margin-top: 5px;}
ul.bar li {padding-left:10px;}
ul.bar li:before {content:"-";margin-left:-10px;display:inline-block;width:10px;}
.list-table {display: table;width: 100%;}
.list-table .cell {display: table-cell;width: 1%; vertical-align: middle;}
@media (max-width:991px) {
    ul.bullet {font-size: 12px;color: #777;}
    ul.bullet li.tit {color: #222; font-size: 15px;}
}

/* TEXT STYLE */
small, .small {font-size: 95%}
.text-xs {font-size:80%;}
.text-sm {font-size:90%;}
.text-lg {font-size:105%;}
.text-xlg {font-size:110%;}
.text-xxlg {font-size:120%;}
.light {font-weight:300;}
.normal {font-weight:400;}
.bold {font-weight:500;}
.bolder {font-weight:700;}
.nowrap {display:block;overflow:hidden;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.block {display:block;}
.inline {display:inline-block;width: auto;}
.underline {text-decoration:underline}
.text-blue {color:#005fda}
.text-red {color:#b13636}
.text-orange {color:#ff7800}
.text-black {color:#222}
.text-green {color:#2ab6ae}
.lead {margin: 0}
.help-block {margin: 0;}

.breadcrumb {margin: 0;color: #888;background: none; padding: 0;}
.breadcrumb>li {display:inline-block}
.breadcrumb>li+li:before {padding:0 5px;color:#ccc;content:">"}

/* PAGINATION */
.pagination {text-align:center;margin:3% auto;display:block;border-radius:0;overflow:hidden;font-size: 0;}
.pagination a {display:inline-block;vertical-align:top;border: 1px solid #e5e5e5; width:34px;height:34px;line-height:32px;font-size: 13px;}
.pagination a+a {border-left: 0;}
.pagination .active {color:#fff;background: #585858;border-color: #333; position:relative;z-index:1;}
.pagination a:not(.active):hover {background: #f4f4f4;}

@media (max-width:991px) {
    .pagination {margin: 5% auto}
    .pagination a {width: 20px;height: 20px;line-height: 18px;font-size: 11px;}
}

/* ETC. */
.scrollable-container {position:relative;}
.scrollable {overflow:hidden;overflow-y:auto;height:100%;-webkit-overflow-scrolling:touch;position:relative;}
.scrollable.horizontal {overflow-y:hidden;overflow-x:auto;}
.scrollable.horizontal.vertical {overflow:auto;}
.scrollable.horizontal {width:100%;overflow-y:hidden;overflow-x:auto;position:static;padding:0;}
.scrollable.horizontal table {min-width:500px;width:auto }
.slide-control {display:none}
.divider {font-size:0;height:1px;background:#e0e0e0;margin:20px 0;}
#skippy {position:absolute;padding:10px;display:inline-block;border:2px solid #eee;background:#fff;z-index:9999;}
#mask {background:#000;opacity: 0.7;display: none;position:fixed;width:100%;top:0;right:0;left:0;bottom:0;z-index:600;}
.browser-mask {background:rgba(0, 0, 0, 0.7);position:fixed;width:100%;top:0;right:0;left:0;bottom:0;z-index:9998;}
.browser-upgrade {position:fixed;top:0;left:0;width:100%;background:#f7f7f7;border-bottom:2px solid #f5b63b;color:#000;font-family:sans-serif;margin:0 0 1em;padding:1em 0;text-align:center;z-index:9999;}
@media (max-width:991px) {
    .slide-control {display:block;}
    .scrollable.horizontal .btn {width:30px;height:30px;background:rgba(41, 171, 163, 0.67);border:1px solid #29aba3;position:absolute;color:#fff;top:50%;margin-top:-15px;font-size:0;}
    .scrollable.horizontal .btn:hover, .scrollable.horizontal .btn:focus {text-decoration:none }
    .scrollable.horizontal .prev {left:0;}
    .scrollable.horizontal .prev:before {content:"\f104";font-size:15px;font-family:'Fontawesome';line-height:normal;}
    .scrollable.horizontal .next {right:0;}
    .scrollable.horizontal .next:before {content:"\f105";font-size:15px;font-family:'Fontawesome';line-height:normal;}
}

.modal {text-align: center;padding: 0!important;}
.modal:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.modal-dialog {display: inline-block;text-align: left;vertical-align: middle;}

/* POPUP */
.popup {position: fixed; min-width: 600px; left: 50%; top: 50%; background: #fff; display:none; overflow: hidden; z-index:601}
.popup .popup-header {width:100%;background: #333; position: relative;z-index:2;}
.popup .popup-header img {margin-right:5px;}
.popup .popup-header h1 {padding:0 15px;line-height: 50px; font-size: 18px;font-weight: bold;color: #fff;margin: 0;}
.popup .popup-header .btn-x { position:absolute;right:10px;top:50%;width: 25px;height: 25px;padding: 0;display: block;background: url(/images/25.close_white.png) no-repeat 50% 50%;font-size: 0;position: absolute;margin-top: -12px;}
.popup .popup-body {padding: 30px 20px;background:#fff;text-align: center}
.popup .popup-body .table {border-top: 1px solid #333;}
.popup .popup-body .table th {font-weight: 600; white-space: nowrap}
.popup .popup-footer {padding: 0 0 50px;background: #fff;text-align: center;}
.popup .popup-footer .btn {min-width: 20%;font-weight: bold}
.popup.popup-blue .popup-header {background: #00abcd;}

@media (max-width: 991px) {
    .popup {width: 90% !important; height: auto !important; min-width: inherit; max-width: 90%; min-height: 300px; max-height: 80%;}
    .popup .popup-header h1 {font-size: 16px;line-height: 40px;}
    .popup .popup-header .btn-x {height: 17px;margin-top: -9px;}
    .popup .popup-body {padding: 15px;}
    .popup .popup-body .table {font-size: 13px;border-bottom: 1px solid #ddd;}
    .popup .popup-body .table colgroup {display: none}
    .popup .popup-body .table thead {display: none;}
    .popup .popup-body .table tbody {display: block;}
    .popup .popup-body .table tr {display: block; padding: 10px 0;}
    .popup .popup-body .table tr+tr {border-top: 1px dotted #ddd; text-align: left}
    .popup .popup-body .table td {display: inline-block; border: 0; padding: 0;}
    .popup .popup-footer {padding: 15px;}
    .popup.mobile {display: block;}
}

/* BOX STYLE */
.panel+.panel {margin-top: 15px;}
.g-box {background:#f7f7f7;}
.b-box {border:1px solid #ddd;}
.w-box {background:#fff;}
.pd {padding: 15px;}
.pdx2 {padding: 30px;}
.pdx3 {padding: 45px;}
.g-box {background:#f7f7f7;}
.b-box {border:1px solid #ddd;}
.w-box {background:#fff;}
.wp-100 {width:100% !important;}
.wp-95 {width:95% !important;}
.wp-90 {width:90% !important;}
.wp-80 {width:80% !important;}
.wp-70 {width:70% !important;}
.wp-60 {width:60% !important;}
.wp-55 {width:55% !important;}
.wp-50 {width:50% !important;}
.wp-45 {width:45% !important;}
.wp-40 {width:40% !important;}
.wp-35 {width:35% !important;}
.wp-30 {width:30% !important;}
.wp-25 {width:25% !important;}
.wp-20 {width:20% !important;}
.wp-10 {width:10% !important;}
.wp-5 {width:5% !important;}
.w-5 {width:5% !important;}
.m-0 {margin-top:0 !important;margin-right:0 !important;margin-bottom:0 !important;margin-left:0 !important;}
.p-0 {padding-top:0 !important;padding-right:0 !important;padding-bottom:0 !important;padding-left:0 !important;}
.p-15 {padding-top:15px !important;padding-right:15px !important;padding-bottom:15px !important;padding-left:15px !important;}
.p-30 {padding-top:30px !important;padding-right:30px !important;padding-bottom:30px !important;padding-left:30px !important;}
.mt-0 {margin-top:0 !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px !important;}
.mt-80 {margin-top:80px !important;}
.mt-90 {margin-top:90px !important;}
.mt-100 {margin-top:100px !important;}
.mt-110 {margin-top:110px !important;}
.mt-120 {margin-top:120px !important;}
.mt-130 {margin-top:130px !important;}
.mt-140 {margin-top:140px !important;}
.mt-150 {margin-top:150px !important;}
.mr-0 {margin-right:0 !important;}
.mr-5 {margin-right:5px !important;}
.mr-10 {margin-right:10px !important;}
.mr-15 {margin-right:15px !important;}
.mr-20 {margin-right:20px !important;}
.mr-25 {margin-right:25px !important;}
.mr-30 {margin-right:30px !important;}
.mr-40 {margin-right:40px !important;}
.mr-50 {margin-right:50px !important;}
.mr-60 {margin-right:60px !important;}
.mr-70 {margin-right:70px !important;}
.mr-80 {margin-right:80px !important;}
.mr-90 {margin-right:90px !important;}
.mr-100 {margin-right:100px !important;}
.mr-110 {margin-right:110px !important;}
.mr-120 {margin-right:120px !important;}
.mr-130 {margin-right:130px !important;}
.mr-140 {margin-right:140px !important;}
.mr-150 {margin-right:150px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px !important;}
.mb-100 {margin-bottom:100px !important;}
.mb-110 {margin-bottom:110px !important;}
.mb-120 {margin-bottom:120px !important;}
.mb-130 {margin-bottom:130px !important;}
.mb-140 {margin-bottom:140px !important;}
.mb-150 {margin-bottom:150px !important;}
.ml-0 {margin-left:0 !important;}
.ml-5 {margin-left:5px !important;}
.ml-10 {margin-left:10px !important;}
.ml-15 {margin-left:15px !important;}
.ml-20 {margin-left:20px !important;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}
.ml-50 {margin-left:50px !important;}
.ml-60 {margin-left:60px !important;}
.ml-70 {margin-left:70px !important;}
.ml-80 {margin-left:80px !important;}
.ml-90 {margin-left:90px !important;}
.ml-100 {margin-left:100px !important;}
.ml-110 {margin-left:110px !important;}
.ml-120 {margin-left:120px !important;}
.ml-130 {margin-left:130px !important;}
.ml-140 {margin-left:140px !important;}
.ml-150 {margin-left:150px !important;}
.pt-0 {padding-top:0 !important;}
.pt-5 {padding-top:5px !important;}
.pt-10 {padding-top:10px !important;}
.pt-15 {padding-top:15px !important;}
.pt-20 {padding-top:20px !important;}
.pt-30 {padding-top:30px !important;}
.pt-40 {padding-top:40px !important;}
.pt-50 {padding-top:50px !important;}
.pt-60 {padding-top:60px !important;}
.pt-70 {padding-top:70px !important;}
.pt-80 {padding-top:80px !important;}
.pt-90 {padding-top:90px !important;}
.pt-100 {padding-top:100px !important;}
.pt-110 {padding-top:110px !important;}
.pt-120 {padding-top:120px !important;}
.pt-130 {padding-top:130px !important;}
.pt-140 {padding-top:140px !important;}
.pt-150 {padding-top:150px !important;}
.pr-0 {padding-right:0 !important;}
.pr-5 {padding-right:5px !important;}
.pr-10 {padding-right:10px !important;}
.pr-15 {padding-right:15px !important;}
.pr-20 {padding-right:20px !important;}
.pr-30 {padding-right:30px !important;}
.pr-40 {padding-right:40px !important;}
.pr-50 {padding-right:50px !important;}
.pr-60 {padding-right:60px !important;}
.pr-70 {padding-right:70px !important;}
.pr-80 {padding-right:80px !important;}
.pr-90 {padding-right:90px !important;}
.pr-100 {padding-right:100px !important;}
.pr-110 {padding-right:110px !important;}
.pr-120 {padding-right:120px !important;}
.pr-130 {padding-right:130px !important;}
.pr-140 {padding-right:140px !important;}
.pb-0 {padding-bottom:0 !important;}
.pb-5 {padding-bottom:5px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-15 {padding-bottom:15px !important;}
.pb-20 {padding-bottom:20px !important;}
.pb-30 {padding-bottom:30px !important;}
.pb-40 {padding-bottom:40px !important;}
.pb-50 {padding-bottom:50px !important;}
.pb-60 {padding-bottom:60px !important;}
.pb-70 {padding-bottom:70px !important;}
.pb-80 {padding-bottom:80px !important;}
.pb-90 {padding-bottom:90px !important;}
.pb-100 {padding-bottom:100px !important;}
.pb-110 {padding-bottom:110px !important;}
.pb-120 {padding-bottom:120px !important;}
.pb-130 {padding-bottom:130px !important;}
.pb-140 {padding-bottom:140px !important;}
.pb-150 {padding-bottom:150px !important;}
.pl-0 {padding-left:0 !important;}
.pl-5 {padding-left:5px !important;}
.pl-10 {padding-left:10px !important;}
.pl-15 {padding-left:15px !important;}
.pl-20 {padding-left:20px !important;}
.pl-30 {padding-left:30px !important;}
.pl-40 {padding-left:40px !important;}
.pl-50 {padding-left:50px !important;}
.pl-60 {padding-left:60px !important;}
.pl-70 {padding-left:70px !important;}
.pl-80 {padding-left:80px !important;}
.pl-90 {padding-left:90px !important;}
.pl-100 {padding-left:100px !important;}
.pl-110 {padding-left:110px !important;}
.pl-120 {padding-left:120px !important;}
.pl-130 {padding-left:130px !important;}
.pl-140 {padding-left:140px !important;}
.pl-150 {padding-left:150px !important;}
